[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabulate = "*"
scipy = "*"
notebook = "*"
matplotlib = "*"
pathos = "*"
jupyter = "*"
jupyterlab = "*"
appnope = "*"
pandas = "*"
numpy = "*"
nbconvert = "*"

[dev-packages]

[requires]
python_version = "3.13"
